<%- include partials/header.ejs %> 

 <%- include partials/main_nav.ejs %> 
  <!--Main Content-->
  <!--/**
 * Student Name :Muhammad Saad
 * Student ID: 301077320
 * Date: February 9th 2023
 */ -->
  <main>
  <div class="p-5 text-center bg-light">
    <h2><%=title %> Page</h2>
    <h3>Portfolio Website</h3>
    <p class="text-left"><strong>I m currently creating a portfolio website</strong></p>
    <img src="/Assets/images/Project1.png" class="rounded float" alt="Cinque Terre" style="width:30%">
    <br>
    <br>
    <br>
    <h3>Comp 391 Game</h3>
    <p class="text-left"><strong>This was the first game I made with a group for our Intro to Game Programming class</strong></p>
    <img src="/Assets/images/mygame.png" class="rounded float" alt="Cinque Terre" style="width:30%">
    <br>
    <a href="https://muhammads2000.itch.io/warscape-beta">My first Game</a>
    

    <br>
    <br>
    <br>

    <h3>Asset for Game Development</h3>
    <p class="text-left"><strong>This was made with a group for our Asset for Game Programming class</strong></p>
    <img src="/Assets/images/cesar.png" class="rounded float" alt="Cinque Terre" style="width:30%">
    <img src="/Assets/images/glass.png" class="rounded float" alt="Cinque Terre" style="width:30%">
    <img src="/Assets/images/rombos.png" class="rounded float" alt="Cinque Terre" style="width:30%">
    <img src="/Assets/images/tree.png" class="rounded float" alt="Cinque Terre" style="width:30%">
    <img src="/Assets/images/weapon.png" class="rounded float" alt="Cinque Terre" style="width:30%">
    <img src="/Assets/images/mr-mangera.png" class="rounded float" alt="Cinque Terre" style="width:30%">
    <ul>  <a class="btn btn-link" href="/Assets/documents/Essay.pdf" role="Button">Project for Comp 253</a></ul>
    </div>
  </main>
  <%- include partials/bottom_nav %> 
 <%- include partials/footer.ejs %> 
   










