<%- include partials/header.ejs %> 

 <%- include partials/main_nav.ejs %> 
  <!--Main Content-->
  <main>
  <div class="p-5 text-center bg-light">
    <h3><%=title %></h3>
    <div class="row-center">
    <p>Java application development</p>
    <img src="/Assets/images/1_iIXOmGDzrtTJmdwbn7cGMw.png" alt="Service" style="width:20%">
    <p>C# application development</p>
    <img src="/Assets/images/C-Sharp.png" alt="Service" style="width:20%">
    <p>Unity</p>
    <img src="/Assets/images/unity.svg.png" alt="Service" style="width:20%">
    </div>
  </main>
  <%- include partials/bottom_nav %> 
 <%- include partials/footer.ejs %> 
   










